h1, h2, h3 {
  text-align: center;
}

p {
  font-family: Verdana;
  font-style: italic;
  color: red;
}



.site-header {
  background: aquamarine;
  padding-top: 15px;
  padding-bottom: 10px;
}

.site-header p,
.site-header p a,
.site-header .social-icon-link {
  color: black;
  font-size: red;
}




table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
th, td {
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #ffffff;
}
td {
  background-color: #ffffff;
}


.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 70%;
  width: 70%;
  position: absolute;
}

video {

  width: 100%;    /* vidéo responsive plein container */
  height: auto;
  display: block;
  margin: auto;
}